* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 480px;
  background: #fff;
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  cursor: default;
}

.main_wrapper {
  margin: 0 auto;
  width: 480px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

b {
  font-weight: 700;
}

/* button */

.button {
  display: block;
  margin: 0 auto;
  width: 370px;
  height: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffd200;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffb600), to(#ffd200));
  background-image: -webkit-linear-gradient(bottom, #ffb600 0%, #ffd200 100%);
  background-image: -moz-linear-gradient(bottom, #ffb600 0%, #ffd200 100%);
  background-image: -o-linear-gradient(bottom, #ffb600 0%, #ffd200 100%);
  background-image: linear-gradient(to top, #ffb600 0%, #ffd200 100%);
  /*-webkit-box-shadow: 5px 5px 0 #cf9400;*/
  /*-moz-box-shadow: 5px 5px 0 #cf9400;*/
  /*box-shadow: 5px 5px 0 #cf9400;*/
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 90px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
  cursor: pointer;
}

.button:disabled {
  background-color: #695500;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#695800), to(#695500));
  background-image: -webkit-linear-gradient(bottom, #695800 0%, #695500 100%);
  background-image: -moz-linear-gradient(bottom, #695800 0%, #695500 100%);
  background-image: -o-linear-gradient(bottom, #695800 0%, #695500 100%);
  background-image: linear-gradient(to top, #695800 0%, #695500 100%);
  /*-webkit-box-shadow: 5px 5px 0 #322800;*/
  /*-moz-box-shadow: 5px 5px 0 #322800;*/
  /*box-shadow: 5px 5px 0 #322800;*/
  color: #222;
  /*text-shadow: 0 1px 1px rgba(142, 140, 140, 0.5);*/
}

/* titles */

h2 {
  padding: 45px 0 0;
  background: url(./images/title__black_icon.png) center top no-repeat;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

h2 span {
  color: #008eed;
  white-space: nowrap;
}

/* offer */

.offer_section.offer_top {
  padding: 25px 0 0;
  background: #1b5a9b url(./images/offer_top_bg.jpg) center top no-repeat;
}

.offer_section.offer_bottom {
  background: #1b5a9b url(./images/offer_bottom_bg.jpg) center top no-repeat;
}

.offer_section .triggers {
  margin: 0 0 25px;
  padding: 8px 0 8px 150px;
  background: rgba(0, 0, 0, 0.15);
  position: relative;
}

.offer_section .triggers:before {
  display: block;
  content: '';
  width: 100px;
  height: 74px;
  border: 4px solid #fff;
  background: #011c4b url(./images/offer_top__logo.jpg) center no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -41px;
  left: 20px;
}

.offer_section .triggers li {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.offer_section .triggers li:first-child {
  margin: 0 10px 0 0;
  padding: 0 0 0 39px;
  width: 157px;
  background: url(./images/offer_top__trigger1_icon.png) left center no-repeat;
}

.offer_section .triggers li:last-child {
  padding: 0 0 0 34px;
  width: 149px;
  background: url(./images/offer_top__trigger2_icon.png) left center no-repeat;
}

.offer_section .subtitle {
  margin: 0 0 5px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.offer_section .subtitle span {
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(226, 6, 18, 0.7);
}

.offer_section .main_title {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1)
}

.offer_section .description {
  margin: 45px auto 189px;
  width: 160px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.offer_section .discount {
  margin: 0 0 34px 15px;
}

.offer_section .discount .value {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #fc0;
}

.offer_section .discount .text {
  font-size: 18px;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
}

.timeUp {
  vertical-align: middle;
  font-size: 25px;
  line-height: 25px;
  color: red;
  text-transform: uppercase;
}

.offer_section .benefits {
  padding: 20px 20px 3px;
  background: rgba(0, 132, 220, 0.8);
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}

.offer_section .benefits li {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 15px 0;
  padding: 0 0 0 35px;
  width: 210px;
  background: url(./images/offer__benefit_icon.png) left top no-repeat;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
}

.offer_section .benefits li:nth-child(even) {
  margin: 0 0 15px;
}

.offer_section.offer_bottom h4 {
  margin: 0 0 24px;
  padding: 15px 0;
  background: rgba(0, 120, 203, 0.7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.41);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.41);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.41);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.offer_section .price_wrapper {
  padding: 30px 0;
  background: #222 url(./images/offer_top__price_bg.jpg) center top no-repeat;
}

.offer_section .price_block {
  margin: 0 0 20px;
  text-align: center;
}

.offer_section .price_block .price_old {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 0;
  color: #cccccc;
}

.offer_section .price_block .price_old .value {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-decoration: line-through;
}

.offer_section .price_block .price_new {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
  color: #fc0;
}

.offer_section .products_count {
  margin: 30px 0 0;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

.offer_section .products_count span {
  display: inline-block;
  vertical-align: top;
  margin: -4px 8px 0;
  padding: 4px 8px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffd200;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffb600), to(#ffd200));
  background-image: -webkit-linear-gradient(bottom, #ffb600 0%, #ffd200 100%);
  background-image: -moz-linear-gradient(bottom, #ffb600 0%, #ffd200 100%);
  background-image: -o-linear-gradient(bottom, #ffb600 0%, #ffd200 100%);
  background-image: linear-gradient(to top, #ffb600 0%, #ffd200 100%);
  -webkit-box-shadow: 0 2px 0 #cf9400;
  -moz-box-shadow: 0 2px 0 #cf9400;
  box-shadow: 0 2px 0 #cf9400;
  font-size: 24px;
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.offer_section .form_wrapper {
  padding: 25px 25px 0;
  background: #222;
}

.offer_section .order_form {
  padding: 25px 0;
  border: 1px solid #414141;
  background: #292929;
}

.offer_section .timer_block {
  margin: 0 0 20px;
  text-align: center;
}

.offer_section .timer_block p {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.offer_section .timer {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}

.offer_section .timer .timer_item {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}

.offer_section .timer .text {
  /*display: inline-block;*/
  vertical-align: middle;
  margin-right: -5px;
  padding: 5px 0;
  background: #222;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.offer_section .timer .count {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 10px;
  width: 66px;
  height: 56px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 34px;
  line-height: 52px;
  color: #008eed;
}

/*.offer_section .timer .timer_item:last-child .count {*/
/*  margin: 0;*/
/*}*/

.offer_section .input {
  display: block;
  margin: 0 auto 20px;
  padding: 0 20px;
  width: 370px;
  height: 74px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222;
  text-align: center;
}

.offer_section .input::-webkit-input-placeholder {
  opacity: 1;
  color: #222;
}

.offer_section .input:-moz-placeholder {
  opacity: 1;
  color: #222;
}

.offer_section .input::-moz-placeholder {
  opacity: 1;
  color: #222;
}

.offer_section .input:-ms-input-placeholder {
  opacity: 1;
  color: #222;
}

.offer_section .input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.offer_section .input:focus:-moz-placeholder {
  opacity: 0;
}

.offer_section .input:focus::-moz-placeholder {
  opacity: 0;
}

.offer_section .input:focus:-ms-input-placeholder {
  opacity: 0;
}

/* about */

.about_section {
  padding: 30px 20px;
  text-align: center;
}

.about_section h2 {
  margin: 0 0 20px;
}

.about_section img {
  display: block;
  margin: 20px auto;
}

/* benefits */

.benefits_section .benefits_wrapper {
  padding: 30px 20px 140px;
  background: #0085de url(./images/bg_blue.jpg);
  color: #fff;
}

.benefits_section h2 {
  margin: 0 0 30px;
  background-image: url(./images/title__white_icon.png);
}

.benefits_section .benefits_list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  text-align: center;
}

.benefits_section .benefit_item {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 30px 0;
  width: 210px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

.benefits_section .benefit_item:nth-child(even) {
  margin: 0 0 30px;
}

.benefits_section .benefit_item img {
  display: block;
  margin: 0 auto 15px;
}

.benefits_section .text_block {
  margin: -140px 20px 0;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
  text-align: center;
}

/* catalog */

.catalog_section .product {
  padding: 35px 0 0;
}

.catalog_section .product.men_model {
  background: url(./images/catalog__men_model_bg.jpg) 305px 35px no-repeat;
}

.catalog_section .product.women_model {
  background: url(./images/catalog__women_model_bg.jpg) 258px 35px no-repeat;
}

.catalog_section h2 {
  margin: 0 200px 20px 30px;
  padding: 0;
  background: none;
  text-align: left;
}

.catalog_section ul {
  margin: 0 200px 0 30px;
}

.catalog_section .temperature_block {
  margin: 30px 0 30px 30px;
  padding: 0 0 0 93px;
  height: 78px;
  background: url(./images/catalog__temperature_icon.png) left bottom no-repeat;
  font-weight: 700;
}

.catalog_section .temperature_block .t_item:first-child {
  margin: 0 0 5px;
}

.catalog_section .price_block {
  margin: 0 0 30px 30px;
}

.catalog_section .price_block .price_old {
  display: inline-block;
  vertical-align: middle;
}

.catalog_section .price_block .price_old .value {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-decoration: line-through;
}

.catalog_section .price_block .discount {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  padding: 15px 0 0 7px;
  width: 67px;
  height: 55px;
  background: url(./images/catalog__discount_bg.png) center no-repeat;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.catalog_section .price_block .price_new {
  margin: 15px 0 0;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
  color: #ffb400;
}

.catalog_section img {
  display: block;
  margin: 35px auto 0;
}

/* sizes */

.sizes_section {
  padding: 20px 0 20px 0;
}

.sizes_section .sizes_wrapper {
  padding: 30px 20px 55px;
  background: #0085de url(./images/bg_blue.jpg);
  color: #fff;
}

.sizes_section h2 {
  margin: 0 0 20px;
  background-image: url(./images/title__white_icon.png);
}

.sizes_section .measuring_item {
  float: left;
  margin: 0 20px 0 0;
  width: 133px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.sizes_section .measuring_item:last-child {
  margin: 0;
}

.sizes_section .measuring_item h4 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.sizes_section .measuring_item .number_wrapper {
  margin: 0 auto 15px;
  padding: 16px;
  width: 62px;
  height: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.sizes_section .measuring_item .number {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sizes_section img {
  display: block;
  margin-top: -25px;
}

.sizes_section .table {
  margin: 0 20px;
  padding: 10px 0 10px 44px;
  background: #fff;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.17);
  position: relative;
}

.sizes_section .table_men {
  margin: -30px 20px 20px;
}

.sizes_section .table_title {
  width: 178px;
  height: 44px;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 44px;
}

.sizes_section .table_men .table_title {
  background: #008eed;
}

.sizes_section .table_women .table_title {
  background: #f273a6;
}

.sizes_section .table .row {
  display: table;
  width: 100%;
}

.sizes_section .table .column {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0;
  width: 20%;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.sizes_section .table .alphabetic_size {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.sizes_section .table .digital_size {
  font-weight: 700;
}

/* order steps */

.order_steps_section {
  padding: 30px 20px 0;
  background: #222 url(./images/order_steps_bg.jpg) center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.order_steps_section h2 {
  margin: 0 0 30px;
  background-image: url(./images/title__white_icon.png);
  color: #fff;
}

.order_steps_section .steps_list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  text-align: center;
}

.order_steps_section .step_item {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 30px 0;
  width: 210px;
  font-size: 16px;
  letter-spacing: normal;
}

.order_steps_section .step_item:nth-child(even) {
  margin: 0 0 30px;
}

.order_steps_section .step_item img {
  display: block;
  margin: 0 auto;
}

.order_steps_section .step_item .number {
  margin: -16px auto 15px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  font-weight: 700;
  line-height: 32px;
  position: relative;
}

.order_steps_section .step_item p {
  line-height: 24px;
  color: #fff;
}

/* reviews */

.reviews_section {
  padding: 30px 20px;
  text-align: center;
}

.reviews_section h2 {
  margin: 0 50px 30px;
}

.reviews_section .review_item img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.reviews_section .author_info {
  margin: 15px 0;
  padding: 0 0 20px;
  background: url(./images/reviews__stars.png) center bottom no-repeat;
  font-weight: 700;
  font-size: 18px;
}

/*.reviews_section .owl-prev,*/
/*.reviews_section .owl-next {*/
/*  width: 54px;*/
/*  height: 54px;*/
/*  position: absolute;*/
/*  top: 48px;*/
/*}*/

.reviews_section .owl-prev,
.reviews_section .owl-next {
  width: 54px;
  height: 54px;
  background-color: #e83841 !important;
  background-image: url(./images/reviews__arrows.png) !important;
  background-repeat: no-repeat;
  position: absolute;
  top: 48px;
}

.reviews_section .owl-prev>span,
.reviews_section .owl-next>span {
  visibility: hidden;
}

/*.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {*/
/*  font-size: 100px !important;*/
/*}*/

.reviews_section .owl-prev {
  background-position: left center;
  left: -20px;
}

.reviews_section .owl-next {
  background-position: right center !important;
  right: -20px;
}

.review_item img {
  display: block;
  width: 150px !important;
}

/* footer */

.footer_section {
  padding: 25px 0;
  background: #222;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.footer_section img {
  display: block;
  margin: 0 auto 10px auto;
}

.footer_section a {
  color: #ccc;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.text-wrapper {
  margin: 50px;
}
